@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Honk&family=Montserrat:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Honk&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Honk&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Honk&family=Montserrat:ital,wght@0,300;0,500;1,200&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Honk&family=Montserrat:ital,wght@0,300;0,500;1,200&family=Raleway:wght@200;300&family=Roboto:wght@300&display=swap');


div{
margin: 0 auto;
width: 50%;
    background-color: #fff1e6;
}

p{
color: rgb(42, 181, 205);
font-family: 'Roboto', serif;

}

h1{
    font-family: 'Roboto', sans-serif;

}
h4{
    font-family: 'Roboto', serif;


}
